<!DOCTYPE html>
<html lang="cs">
<head>
<meta charset="UTF-8">
<title>Výukové aplikace</title>

<style>

body{
    font-family:Arial;
    background:#f0f4f8;
    text-align:center;
    padding-top:80px;
}

h1{
    font-size:50px;
    margin-bottom:50px;
}

.box{
    display:flex;
    justify-content:center;
    gap:40px;
}

a{
    display:block;
    width:250px;
    padding:40px;
    background:white;
    border-radius:20px;
    text-decoration:none;
    color:black;
    font-size:28px;
    font-weight:bold;
    box-shadow:0 0 20px rgba(0,0,0,0.1);
}

</style>

</head>
<body>

<h1>Výukové aplikace</h1>

<div class="box">

    <a href="/matematika">
        Matematika
    </a>

    <a href="/excel">
        Excel
    </a>

    <a href="/obcanka">
        Občanka
    </a>

</div>

</body>
</html>